version: "3.9"

services:
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - AUTH_SERVICE_URL=http://auth-service:5001
      - HOSPITAL_SERVICE_URL=http://hospital-service:5002
    depends_on:
      - auth-service
      - hospital-service

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "5001:5001"
    environment:
      - PORT=5001
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASS=password
      - DB_NAME=medic_auth
    depends_on:
      - mysql

  hospital-service:
    build: ./hospital-service
    container_name: hospital-service
    ports:
      - "5002:5002"
    environment:
      - PORT=5002
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASS=password
      - DB_NAME=medic_hospital
      - REDIS_HOST=redis
    depends_on:
      - mysql
      - redis

  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:6
    container_name: redis
    ports:
      - "6379:6379"

volumes:
  mysql_data:
